<%= render partial: "partials/header"  %>

<div class="container top-pad big">
  <h1>1. Choose a template</h1>
  <div class="row">
    <% @templates.each do |template| %>
      <div class="col-sm-3">
        <div class="box hover js-template" data-id="<%= template["cid"] %>">
          <h3 class="bold"><%= template["name"] %></h3>
          <img class="full-width" src="<%= template.thumbnail_url(300) %>">
          <p class="small italic grey">
            Created on: <%= template.captricity_created_at.strftime("%c") %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <h1 class="spaced">2. Upload your forms</h1>
  <p class="bold red big spaced">Make sure they match the template you chose!</p>
  <input id="uploadfiles" type="file" name="uploadfiles[]" data-url="/upload_files" class="spaced" multiple>
  <button id="upload-submit">Submit</button>
  <div id="files"></div>
  <div class="progress">
    <div id="upload-progress" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%; min-width: 30px;">0%</div>
  </div>
</div>

<%= render partial: "partials/footer"  %>
